html,
body,
#app {
    margin: 0;
    height: 100%;
}

#app {
    position: relative;
    background: #ffffff3b;
}

#app canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #111;
    color: #eee;
    font-family: system-ui, sans-serif;
}
